page-update-device {
    .logitem {
        background-color: transparent;
        padding-bottom: 5px;
    }
    .logitem1 {
        background-color: transparent;
    
        p { 
            color: #ea6153;
            margin: 0;
            padding: 0;
        }
    }

    .select-searchable-value-item {
        font-size: 1.25em;
    }
}
